<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<string>196,222,204</string>
		<key>colorDescription</key>
		<string>辽阔</string>
		<key>colorName</key>
		<string>地平线</string>
		<key>colors</key>
		<array>
			<array>
				<string>196,222,204</string>
				<string>230,239,137</string>
				<string>245,178,169</string>
			</array>
			<array>
				<string>234,196,131</string>
				<string>152,175,222</string>
				<string>196,222,204</string>
			</array>
			<array>
				<string>196,222,204</string>
				<string>98,143,122</string>
				<string>219,234,165</string>
			</array>
			<array>
				<string>196,222,204</string>
				<string>233,228,166</string>
				<string>222,165,213</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>166,221,218</string>
		<key>colorDescription</key>
		<string>放松</string>
		<key>colorName</key>
		<string>浅葱色</string>
		<key>colors</key>
		<array>
			<array>
				<string>184,221,98</string>
				<string>88,196,215</string>
				<string>166,221,218</string>
			</array>
			<array>
				<string>166,221,218</string>
				<string>47,181,222</string>
				<string>104,115,189</string>
			</array>
			<array>
				<string>233,229,187</string>
				<string>166,221,218</string>
				<string>143,179,224</string>
			</array>
			<array>
				<string>187,151,178</string>
				<string>166,221,218</string>
				<string>153,212,121</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>80,131,154</string>
		<key>colorDescription</key>
		<string>宽容</string>
		<key>colorName</key>
		<string>萨克斯蓝</string>
		<key>colors</key>
		<array>
			<array>
				<string>188,189,145</string>
				<string>80,131,154</string>
				<string>116,172,166</string>
			</array>
			<array>
				<string>80,131,154</string>
				<string>214,194,178</string>
				<string>174,126,130</string>
			</array>
			<array>
				<string>143,95,63</string>
				<string>227,182,96</string>
				<string>80,131,154</string>
			</array>
			<array>
				<string>195,168,187</string>
				<string>80,131,154</string>
				<string>233,229,187</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>218,242,239 </string>
		<key>colorDescription</key>
		<string>温馨</string>
		<key>colorName</key>
		<string>白青</string>
		<key>colors</key>
		<array>
			<array>
				<string>218,242,239 </string>
				<string>235,179,177</string>
				<string>253,221,185</string>
			</array>
			<array>
				<string>218,242,239 </string>
				<string>239,194,146</string>
				<string>195,149,18</string>
			</array>
			<array>
				<string>166,177,195</string>
				<string>227,198,187</string>
				<string>218,242,239 </string>
			</array>
			<array>
				<string>137,176,192</string>
				<string>218,242,239 </string>
				<string>176,205,152</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>165,209,207</string>
		<key>colorDescription</key>
		<string>冷漠</string>
		<key>colorName</key>
		<string>灰瓷</string>
		<key>colors</key>
		<array>
			<array>
				<string>165,209,207</string>
				<string>220,238,185</string>
				<string>171,206,148</string>
			</array>
			<array>
				<string>165,209,207</string>
				<string>233,229,187</string>
				<string>248,183,144</string>
			</array>
			<array>
				<string>170,166,190</string>
				<string>227,198,187</string>
				<string>165,209,207</string>
			</array>
			<array>
				<string>235,228,153</string>
				<string>165,209,207</string>
				<string>126,163,205</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>193,232,219</string>
		<key>colorDescription</key>
		<string>纯真</string>
		<key>colorName</key>
		<string>瓷绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>193,232,219</string>
				<string>254,241,156</string>
				<string>189,226,150</string>
			</array>
			<array>
				<string>228,242,198</string>
				<string>193,232,219</string>
				<string>149,182,200</string>
			</array>
			<array>
				<string>198,197,232</string>
				<string>229,230,209</string>
				<string>193,232,219</string>
			</array>
			<array>
				<string>231,166,188</string>
				<string>251,209,165</string>
				<string>193,232,219</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>169,224,219</string>
		<key>colorDescription</key>
		<string>清透</string>
		<key>colorName</key>
		<string>瓷青</string>
		<key>colors</key>
		<array>
			<array>
				<string>169,224,219</string>
				<string>254,241,156</string>
				<string>188,224,128</string>
			</array>
			<array>
				<string>251,219,205</string>
				<string>169,224,219</string>
				<string>129,193,189</string>
			</array>
			<array>
				<string>231,174,206</string>
				<string>250,211,209</string>
				<string>169,224,219</string>
			</array>
			<array>
				<string>230,158,183</string>
				<string>249,206,163</string>
				<string>169,224,219</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>40,142,150</string>
		<key>colorDescription</key>
		<string>清醒</string>
		<key>colorName</key>
		<string>蓝绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>40,142,150</string>
				<string>166,183,123</string>
				<string>54,89,161</string>
			</array>
			<array>
				<string>40,142,150</string>
				<string>111,164,86</string>
				<string>200,213,75</string>
			</array>
			<array>
				<string>105,143,183</string>
				<string>40,142,150</string>
				<string>138,122,164</string>
			</array>
			<array>
				<string>40,142,150</string>
				<string>51,55,112</string>
				<string>83,93,166</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>34,110,137</string>
		<key>colorDescription</key>
		<string>尊重</string>
		<key>colorName</key>
		<string>浓蓝绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>188,189,145</string>
				<string>95,138,123</string>
				<string>34,110,137</string>
			</array>
			<array>
				<string>167,160,187</string>
				<string>34,110,137</string>
				<string>166,139,116</string>
			</array>
			<array>
				<string>122,62,114</string>
				<string>116,119,73</string>
				<string>34,110,137</string>
			</array>
			<array>
				<string>48,148,167</string>
				<string>34,110,137</string>
				<string>99,135,85</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>96,172,190</string>
		<key>colorDescription</key>
		<string>知性</string>
		<key>colorName</key>
		<string>尼罗蓝</string>
		<key>colors</key>
		<array>
			<array>
				<string>96,172,190</string>
				<string>242,200,162</string>
				<string>160,82,100</string>
			</array>
			<array>
				<string>211,114,100</string>
				<string>226,185,153</string>
				<string>96,172,190</string>
			</array>
			<array>
				<string>96,172,190</string>
				<string>204,214,129</string>
				<string>106,85,139</string>
			</array>
			<array>
				<string>96,172,190</string>
				<string>190,222,155</string>
				<string>115,182,141</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>64,173,197</string>
		<key>colorDescription</key>
		<string>高贵</string>
		<key>colorName</key>
		<string>孔雀蓝</string>
		<key>colors</key>
		<array>
			<array>
				<string>38,137,129</string>
				<string>140,177,155</string>
				<string>64,173,197</string>
			</array>
			<array>
				<string>135,139,194</string>
				<string>251,219,184</string>
				<string>64,173,197</string>
			</array>
			<array>
				<string>190,172,53</string>
				<string>211,204,130</string>
				<string>64,173,197</string>
			</array>
			<array>
				<string>193,227,170</string>
				<string>64,173,197</string>
				<string>119,203,162</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>66,126,170</string>
		<key>colorDescription</key>
		<string>纯粹</string>
		<key>colorName</key>
		<string>青兰</string>
		<key>colors</key>
		<array>
			<array>
				<string>66,126,170</string>
				<string>206,232,152</string>
				<string>139,172,92</string>
			</array>
			<array>
				<string>196,183,210</string>
				<string>66,126,170</string>
				<string>133,211,206</string>
			</array>
			<array>
				<string>130,154,84</string>
				<string>216,212,132</string>
				<string>66,126,170</string>
			</array>
			<array>
				<string>187,137,200</string>
				<string>66,126,170</string>
				<string>73,76,139</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>21,95,140</string>
		<key>colorDescription</key>
		<string>洞悉</string>
		<key>colorName</key>
		<string>深蓝</string>
		<key>colors</key>
		<array>
			<array>
				<string>151,66,90</string>
				<string>166,125,69</string>
				<string>21,95,140</string>
			</array>
			<array>
				<string>73,132,111</string>
				<string>21,95,140</string>
				<string>116,135,82</string>
			</array>
			<array>
				<string>142,100,143</string>
				<string>21,95,140</string>
				<string>156,141,125</string>
			</array>
			<array>
				<string>63,142,152</string>
				<string>21,95,140</string>
				<string>100,155,203</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>144,198,216</string>
		<key>colorDescription</key>
		<string>清凉</string>
		<key>colorName</key>
		<string>天色</string>
		<key>colors</key>
		<array>
			<array>
				<string>144,198,216</string>
				<string>126,198,117</string>
				<string>206,230,119</string>
			</array>
			<array>
				<string>144,198,216</string>
				<string>183,226,184</string>
				<string>242,237,176</string>
			</array>
			<array>
				<string>209,177,197</string>
				<string>144,198,216</string>
				<string>232,195,155</string>
			</array>
			<array>
				<string>188,154,200</string>
				<string>240,190,199</string>
				<string>144,198,216</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>164,211,219</string>
		<key>colorDescription</key>
		<string>清净</string>
		<key>colorName</key>
		<string>浅天色</string>
		<key>colors</key>
		<array>
			<array>
				<string>164,211,219</string>
				<string>229,213,230</string>
				<string>150,169,206</string>
			</array>
			<array>
				<string>237,214,191</string>
				<string>164,211,219</string>
				<string>211,238,206</string>
			</array>
			<array>
				<string>164,211,219</string>
				<string>253,233,165</string>
				<string>184,220,157</string>
			</array>
			<array>
				<string>189,168,214</string>
				<string>203,221,105</string>
				<string>164,211,219</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>121,208,210</string>
		<key>colorDescription</key>
		<string>洁净</string>
		<key>colorName</key>
		<string>水色</string>
		<key>colors</key>
		<array>
			<array>
				<string>99,127,197</string>
				<string>121,208,210</string>
				<string>122,186,76</string>
			</array>
			<array>
				<string>121,208,210</string>
				<string>233,229,187</string>
				<string>157,209,77</string>
			</array>
			<array>
				<string>33,133,178</string>
				<string>121,208,210</string>
				<string>76,187,152</string>
			</array>
			<array>
				<string>40,155,171</string>
				<string>82,82,168</string>
				<string>121,208,210</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>37,126,176</string>
		<key>colorDescription</key>
		<string>理智</string>
		<key>colorName</key>
		<string>钴蓝</string>
		<key>colors</key>
		<array>
			<array>
				<string>37,126,176</string>
				<string>208,171,193</string>
				<string>171,101,168</string>
			</array>
			<array>
				<string>207,208,105</string>
				<string>37,126,176</string>
				<string>129,179,139</string>
			</array>
			<array>
				<string>149,134,100</string>
				<string>71,43,96</string>
				<string>37,126,176</string>
			</array>
			<array>
				<string>37,126,176</string>
				<string>137,212,194</string>
				<string>58,109,129</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>30,132,191</string>
		<key>colorDescription</key>
		<string>冷静</string>
		<key>colorName</key>
		<string>石青</string>
		<key>colors</key>
		<array>
			<array>
				<string>30,132,191</string>
				<string>146,142,205</string>
				<string>190,181,222</string>
			</array>
			<array>
				<string>95,177,186</string>
				<string>30,132,191</string>
				<string>183,157,198</string>
			</array>
			<array>
				<string>30,132,191</string>
				<string>102,154,181</string>
				<string>189,203,129</string>
			</array>
			<array>
				<string>30,132,191</string>
				<string>32,82,114</string>
				<string>189,186,151</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>23,36,72</string>
		<key>colorDescription</key>
		<string>纪律</string>
		<key>colorName</key>
		<string>浓蓝紫</string>
		<key>colors</key>
		<array>
			<array>
				<string>97,123,105</string>
				<string>23,36,72</string>
				<string>151,113,55</string>
			</array>
			<array>
				<string>148,85,56</string>
				<string>62,84,98</string>
				<string>23,36,72</string>
			</array>
			<array>
				<string>23,36,72</string>
				<string>187,166,81</string>
				<string>80,45,54</string>
			</array>
			<array>
				<string>23,36,72</string>
				<string>44,96,48</string>
				<string>124,134,116</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>110,205,225</string>
		<key>colorDescription</key>
		<string>灵动</string>
		<key>colorName</key>
		<string>水蓝</string>
		<key>colors</key>
		<array>
			<array>
				<string>207,227,89</string>
				<string>110,205,225</string>
				<string>82,143,198</string>
			</array>
			<array>
				<string>154,145,205</string>
				<string>252,236,157</string>
				<string>110,205,225</string>
			</array>
			<array>
				<string>112,199,125</string>
				<string>219,234,165</string>
				<string>110,205,225</string>
			</array>
			<array>
				<string>110,205,225</string>
				<string>230,223,201</string>
				<string>44,88,165</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>54,89,172</string>
		<key>colorDescription</key>
		<string>出众</string>
		<key>colorName</key>
		<string>琉璃色</string>
		<key>colors</key>
		<array>
			<array>
				<string>54,89,172</string>
				<string>54,50,84</string>
				<string>171,63,75</string>
			</array>
			<array>
				<string>103,140,74</string>
				<string>54,89,172</string>
				<string>173,153,41</string>
			</array>
			<array>
				<string>54,89,172</string>
				<string>66,46,89</string>
				<string>169,99,121</string>
			</array>
			<array>
				<string>107,169,204</string>
				<string>54,89,172</string>
				<string>59,132,135</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>37,78,162</string>
		<key>colorDescription</key>
		<string>深远</string>
		<key>colorName</key>
		<string>群青</string>
		<key>colors</key>
		<array>
			<array>
				<string>37,78,162</string>
				<string>66,186,189</string>
				<string>186,197,218</string>
			</array>
			<array>
				<string>37,78,162</string>
				<string>167,171,106</string>
				<string>131,182,216</string>
			</array>
			<array>
				<string>105,175,119</string>
				<string>37,78,162</string>
				<string>85,152,198</string>
			</array>
			<array>
				<string>37,78,162</string>
				<string>189,186,151</string>
				<string>111,71,140</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>24,29,52</string>
		<key>colorDescription</key>
		<string>沉寂</string>
		<key>colorName</key>
		<string>蓝黑</string>
		<key>colors</key>
		<array>
			<array>
				<string>24,29,52</string>
				<string>107,80,43</string>
				<string>96,47,69</string>
			</array>
			<array>
				<string>24,29,52</string>
				<string>145,140,115</string>
				<string>146,74,37</string>
			</array>
			<array>
				<string>168,157,73</string>
				<string>24,29,52</string>
				<string>75,105,78</string>
			</array>
			<array>
				<string>24,29,52</string>
				<string>88,131,151</string>
				<string>59,51,84</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>87,182,233</string>
		<key>colorDescription</key>
		<string>爽快</string>
		<key>colorName</key>
		<string>蔚蓝</string>
		<key>colors</key>
		<array>
			<array>
				<string>87,182,233</string>
				<string>248,189,113</string>
				<string>122,200,101</string>
			</array>
			<array>
				<string>87,182,233</string>
				<string>233,229,187</string>
				<string>233,92,77</string>
			</array>
			<array>
				<string>87,182,233</string>
				<string>234,225,153</string>
				<string>77,116,175</string>
			</array>
			<array>
				<string>207,227,89</string>
				<string>87,182,233</string>
				<string>243,148,133</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>48,77,162</string>
		<key>colorDescription</key>
		<string>睿智</string>
		<key>colorName</key>
		<string>青金石</string>
		<key>colors</key>
		<array>
			<array>
				<string>48,77,162</string>
				<string>171,180,152</string>
				<string>36,149,129</string>
			</array>
			<array>
				<string>48,77,162</string>
				<string>189,186,151</string>
				<string>119,84,69</string>
			</array>
			<array>
				<string>109,163,217</string>
				<string>48,77,162</string>
				<string>135,160,106</string>
			</array>
			<array>
				<string>173,211,164</string>
				<string>48,77,162</string>
				<string>88,162,162</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>40,101,179</string>
		<key>colorDescription</key>
		<string>镇静</string>
		<key>colorName</key>
		<string>青</string>
		<key>colors</key>
		<array>
			<array>
				<string>170,209,139</string>
				<string>40,101,179</string>
				<string>87,170,202</string>
			</array>
			<array>
				<string>218,206,74</string>
				<string>40,101,179</string>
				<string>91,161,75</string>
			</array>
			<array>
				<string>40,101,179</string>
				<string>187,151,200</string>
				<string>81,60,128</string>
			</array>
			<array>
				<string>217,148,136</string>
				<string>40,101,179</string>
				<string>149,162,52</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>22,45,75</string>
		<key>colorDescription</key>
		<string>庄严</string>
		<key>colorName</key>
		<string>靛青</string>
		<key>colors</key>
		<array>
			<array>
				<string>22,45,75</string>
				<string>171,182,188</string>
				<string>62,36,47</string>
			</array>
			<array>
				<string>108,71,76</string>
				<string>22,45,75</string>
				<string>63,97,79</string>
			</array>
			<array>
				<string>87,58,75</string>
				<string>22,45,75</string>
				<string>95,111,43</string>
			</array>
			<array>
				<string>22,45,75</string>
				<string>189,186,151</string>
				<string>62,23,15</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>137,202,236</string>
		<key>colorDescription</key>
		<string>清透</string>
		<key>colorName</key>
		<string>天青</string>
		<key>colors</key>
		<array>
			<array>
				<string>137,202,236</string>
				<string>238,214,193</string>
				<string>239,159,188</string>
			</array>
			<array>
				<string>83,191,165</string>
				<string>137,202,236</string>
				<string>91,112,174</string>
			</array>
			<array>
				<string>225,186,135</string>
				<string>137,202,236</string>
				<string>187,225,158</string>
			</array>
			<array>
				<string>137,202,236</string>
				<string>91,153,182</string>
				<string>191,208,165</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>37,88,127</string>
		<key>colorDescription</key>
		<string>认真</string>
		<key>colorName</key>
		<string>深青灰</string>
		<key>colors</key>
		<array>
			<array>
				<string>148,124,96</string>
				<string>37,88,127</string>
				<string>184,153,171</string>
			</array>
			<array>
				<string>57,83,39</string>
				<string>125,159,97</string>
				<string>37,88,127</string>
			</array>
			<array>
				<string>96,55,23</string>
				<string>37,88,127</string>
				<string>183,138,84</string>
			</array>
			<array>
				<string>37,88,127</string>
				<string>168,158,156</string>
				<string>31,93,49</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>33,82,124</string>
		<key>colorDescription</key>
		<string>权威</string>
		<key>colorName</key>
		<string>宝蓝</string>
		<key>colors</key>
		<array>
			<array>
				<string>164,185,142</string>
				<string>33,82,124</string>
				<string>103,151,115</string>
			</array>
			<array>
				<string>166,161,117</string>
				<string>87,138,161</string>
				<string>33,82,124</string>
			</array>
			<array>
				<string>33,82,124</string>
				<string>189,186,151</string>
				<string>109,45,52</string>
			</array>
			<array>
				<string>33,82,124</string>
				<string>147,137,155</string>
				<string>74,76,104</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>23,67,99</string>
		<key>colorDescription</key>
		<string>正直</string>
		<key>colorName</key>
		<string>海军蓝</string>
		<key>colors</key>
		<array>
			<array>
				<string>23,67,99</string>
				<string>129,101,29</string>
				<string>60,41,16</string>
			</array>
			<array>
				<string>77,91,24</string>
				<string>23,67,99</string>
				<string>108,126,78</string>
			</array>
			<array>
				<string>92,37,58</string>
				<string>23,67,99</string>
				<string>113,89,116</string>
			</array>
			<array>
				<string>23,67,99</string>
				<string>143,125,92</string>
				<string>85,44,33</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>91,118,178</string>
		<key>colorDescription</key>
		<string>洗练</string>
		<key>colorName</key>
		<string>鼠尾草</string>
		<key>colors</key>
		<array>
			<array>
				<string>209,204,145</string>
				<string>129,186,185</string>
				<string>91,118,178</string>
			</array>
			<array>
				<string>127,178,143</string>
				<string>239,230,166</string>
				<string>91,118,178</string>
			</array>
			<array>
				<string>91,118,178</string>
				<string>137,176,192</string>
				<string>204,196,218</string>
			</array>
			<array>
				<string>150,87,120</string>
				<string>91,118,178</string>
				<string>169,166,97</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>20,83,110</string>
		<key>colorDescription</key>
		<string>礼节</string>
		<key>colorName</key>
		<string>浓蓝</string>
		<key>colors</key>
		<array>
			<array>
				<string>20,83,110</string>
				<string>134,133,152</string>
				<string>37,43,85</string>
			</array>
			<array>
				<string>20,83,110</string>
				<string>131,127,76</string>
				<string>69,20,38</string>
			</array>
			<array>
				<string>130,104,84</string>
				<string>20,83,110</string>
				<string>105,39,35</string>
			</array>
			<array>
				<string>122,50,87</string>
				<string>30,46,85</string>
				<string>20,83,110</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>54,63,98</string>
		<key>colorDescription</key>
		<string>严厉</string>
		<key>colorName</key>
		<string>铁青</string>
		<key>colors</key>
		<array>
			<array>
				<string>54,63,98</string>
				<string>165,111,99</string>
				<string>226,198,162</string>
			</array>
			<array>
				<string>65,118,142</string>
				<string>54,63,98</string>
				<string>178,174,143</string>
			</array>
			<array>
				<string>110,128,150</string>
				<string>54,63,98</string>
				<string>126,147,100</string>
			</array>
			<array>
				<string>54,63,98</string>
				<string>110,144,134</string>
				<string>64,95,41</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>95,121,166</string>
		<key>colorDescription</key>
		<string>严谨</string>
		<key>colorName</key>
		<string>砖青</string>
		<key>colors</key>
		<array>
			<array>
				<string>95,121,166</string>
				<string>90,72,108</string>
				<string>194,157,145</string>
			</array>
			<array>
				<string>95,121,166</string>
				<string>175,155,184</string>
				<string>217,209,168</string>
			</array>
			<array>
				<string>165,113,91</string>
				<string>133,172,150</string>
				<string>95,121,166</string>
			</array>
			<array>
				<string>166,159,101</string>
				<string>95,121,166</string>
				<string>150,131,65</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>92,113,142</string>
		<key>colorDescription</key>
		<string>静寂</string>
		<key>colorName</key>
		<string>蓝鼠</string>
		<key>colors</key>
		<array>
			<array>
				<string>92,113,142</string>
				<string>215,212,177</string>
				<string>138,78,94</string>
			</array>
			<array>
				<string>190,195,104</string>
				<string>129,164,169</string>
				<string>92,113,142</string>
			</array>
			<array>
				<string>92,113,142</string>
				<string>186,156,110</string>
				<string>99,91,67</string>
			</array>
			<array>
				<string>92,113,142</string>
				<string>128,120,81</string>
				<string>35,91,111</string>
			</array>
		</array>
	</dict>
</array>
</plist>
