<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<string>206,230,118</string>
		<key>colorDescription</key>
		<string>春天</string>
		<key>colorName</key>
		<string>闪光绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>206,230,118</string>
				<string>235,179,177</string>
				<string>253,221,185</string>
			</array>
			<array>
				<string>206,230,118</string>
				<string>225,188,116</string>
				<string>176,206,152</string>
			</array>
			<array>
				<string>242,199,208</string>
				<string>166,177,195</string>
				<string>206,230,118</string>
			</array>
			<array>
				<string>137,176,192</string>
				<string>206,230,118</string>
				<string>176,206,152</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>192,221,63</string>
		<key>colorDescription</key>
		<string>初生</string>
		<key>colorName</key>
		<string>黄绿色</string>
		<key>colors</key>
		<array>
			<array>
				<string>230,167,87</string>
				<string>240,235,191</string>
				<string>192,221,63</string>
			</array>
			<array>
				<string>192,221,63</string>
				<string>242,166,165</string>
				<string>219,234,165</string>
			</array>
			<array>
				<string>192,221,63</string>
				<string>73,182,168</string>
				<string>193,227,218</string>
			</array>
			<array>
				<string>228,222,133</string>
				<string>192,221,63</string>
				<string>132,137,90</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>157,211,85</string>
		<key>colorDescription</key>
		<string>轻快</string>
		<key>colorName</key>
		<string>嫩绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>157,211,85</string>
				<string>236,80,62</string>
				<string>248,188,84</string>
			</array>
			<array>
				<string>157,211,85</string>
				<string>57,181,164</string>
				<string>248,190,139</string>
			</array>
			<array>
				<string>157,211,85</string>
				<string>136,120,182</string>
				<string>231,153,179</string>
			</array>
			<array>
				<string>149,205,191</string>
				<string>50,173,132</string>
				<string>157,211,85</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>106,181,114</string>
		<key>colorDescription</key>
		<string>放松</string>
		<key>colorName</key>
		<string>春绿色</string>
		<key>colors</key>
		<array>
			<array>
				<string>106,181,114</string>
				<string>35,99,71</string>
				<string>169,186,61</string>
			</array>
			<array>
				<string>125,89,36</string>
				<string>106,181,114</string>
				<string>190,196,114</string>
			</array>
			<array>
				<string>136,182,196</string>
				<string>106,181,114</string>
				<string>220,158,150</string>
			</array>
			<array>
				<string>106,181,114</string>
				<string>197,225,210</string>
				<string>98,124,184</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>194,227,139</string>
		<key>colorDescription</key>
		<string>柔和</string>
		<key>colorName</key>
		<string>浅绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>194,227,139</string>
				<string>254,241,156</string>
				<string>188,224,128</string>
			</array>
			<array>
				<string>246,180,192</string>
				<string>149,182,200</string>
				<string>194,227,139</string>
			</array>
			<array>
				<string>166,221,194</string>
				<string>240,239,192</string>
				<string>194,227,139</string>
			</array>
			<array>
				<string>228,124,159</string>
				<string>248,189,142</string>
				<string>194,227,139</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>174,198,54</string>
		<key>colorDescription</key>
		<string>恬淡</string>
		<key>colorName</key>
		<string>草坪色</string>
		<key>colors</key>
		<array>
			<array>
				<string>174,198,54</string>
				<string>226,223,170</string>
				<string>57,175,74</string>
			</array>
			<array>
				<string>132,158,214</string>
				<string>109,204,215</string>
				<string>174,198,54</string>
			</array>
			<array>
				<string>249,192,75</string>
				<string>89,104,175</string>
				<string>174,198,54</string>
			</array>
			<array>
				<string>132,150,208</string>
				<string>174,198,54</string>
				<string>237,92,63</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>116,118,50</string>
		<key>colorDescription</key>
		<string>诚实</string>
		<key>colorName</key>
		<string>苔绿色</string>
		<key>colors</key>
		<array>
			<array>
				<string>116,118,50</string>
				<string>200,158,112</string>
				<string>138,74,53</string>
			</array>
			<array>
				<string>214,134,85</string>
				<string>116,118,50</string>
				<string>202,128,124</string>
			</array>
			<array>
				<string>115,163,183</string>
				<string>116,118,50</string>
				<string>74,101,126</string>
			</array>
			<array>
				<string>116,118,50</string>
				<string>156,169,140</string>
				<string>70,144,136</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>161,180,119</string>
		<key>colorDescription</key>
		<string>柔软</string>
		<key>colorName</key>
		<string>枯叶绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>161,180,119</string>
				<string>227,198,187</string>
				<string>156,132,136</string>
			</array>
			<array>
				<string>71,117,107</string>
				<string>161,180,119</string>
				<string>226,184,129</string>
			</array>
			<array>
				<string>236,178,147</string>
				<string>161,180,119</string>
				<string>166,125,69</string>
			</array>
			<array>
				<string>194,173,191</string>
				<string>116,151,183</string>
				<string>161,180,119</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>158,195,101</string>
		<key>colorDescription</key>
		<string>成长</string>
		<key>colorName</key>
		<string>草绿色</string>
		<key>colors</key>
		<array>
			<array>
				<string>158,195,101</string>
				<string>96,143,171</string>
				<string>231,184,93</string>
			</array>
			<array>
				<string>198,179,122</string>
				<string>158,77,128</string>
				<string>158,195,101</string>
			</array>
			<array>
				<string>115,155,63</string>
				<string>158,195,101</string>
				<string>108,85,48</string>
			</array>
			<array>
				<string>50,155,88</string>
				<string>158,195,101</string>
				<string>101,171,176</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>135,144,53</string>
		<key>colorDescription</key>
		<string>友好</string>
		<key>colorName</key>
		<string>绿茶色</string>
		<key>colors</key>
		<array>
			<array>
				<string>135,144,53</string>
				<string>188,205,94</string>
				<string>187,126,169</string>
			</array>
			<array>
				<string>135,144,53</string>
				<string>161,193,124</string>
				<string>88,138,151</string>
			</array>
			<array>
				<string>135,144,53</string>
				<string>247,175,91</string>
				<string>208,99,54</string>
			</array>
			<array>
				<string>223,157,146</string>
				<string>135,144,53</string>
				<string>185,205,92</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>64,116,76</string>
		<key>colorDescription</key>
		<string>包容</string>
		<key>colorName</key>
		<string>浓绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>216,144,125</string>
				<string>64,116,76</string>
				<string>90,155,161</string>
			</array>
			<array>
				<string>61,97,144</string>
				<string>183,199,124</string>
				<string>64,116,76</string>
			</array>
			<array>
				<string>64,116,76</string>
				<string>185,171,81</string>
				<string>136,46,89</string>
			</array>
			<array>
				<string>172,72,79</string>
				<string>221,194,123</string>
				<string>64,116,76</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>121,170,77</string>
		<key>colorDescription</key>
		<string>自然</string>
		<key>colorName</key>
		<string>叶绿色</string>
		<key>colors</key>
		<array>
			<array>
				<string>188,189,145</string>
				<string>121,170,77</string>
				<string>32,118,114</string>
			</array>
			<array>
				<string>201,168,65</string>
				<string>121,170,77</string>
				<string>132,119,54</string>
			</array>
			<array>
				<string>97,167,171</string>
				<string>117,101,84</string>
				<string>121,170,77</string>
			</array>
			<array>
				<string>121,170,77</string>
				<string>45,127,64</string>
				<string>223,79,74</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>110,197,120</string>
		<key>colorDescription</key>
		<string>乐观</string>
		<key>colorName</key>
		<string>铬绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>226,162,54</string>
				<string>212,220,93</string>
				<string>110,197,120</string>
			</array>
			<array>
				<string>110,197,120</string>
				<string>112,149,108</string>
				<string>191,199,150</string>
			</array>
			<array>
				<string>86,126,49</string>
				<string>110,197,120</string>
				<string>65,79,112</string>
			</array>
			<array>
				<string>110,197,120</string>
				<string>223,169,187</string>
				<string>121,167,220</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>54,143,92</string>
		<key>colorDescription</key>
		<string>明晰</string>
		<key>colorName</key>
		<string>孔雀石绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>54,143,92</string>
				<string>216,213,95</string>
				<string>146,203,152</string>
			</array>
			<array>
				<string>164,164,43</string>
				<string>219,234,126</string>
				<string>54,143,92</string>
			</array>
			<array>
				<string>54,143,92</string>
				<string>199,215,157</string>
				<string>245,160,157</string>
			</array>
			<array>
				<string>200,149,188</string>
				<string>54,143,92</string>
				<string>158,193,211</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>77,185,109</string>
		<key>colorDescription</key>
		<string>华美</string>
		<key>colorName</key>
		<string>翡翠绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>77,185,109</string>
				<string>181,205,157</string>
				<string>160,96,166</string>
			</array>
			<array>
				<string>77,185,109</string>
				<string>156,201,204</string>
				<string>89,139,205</string>
			</array>
			<array>
				<string>229,142,90</string>
				<string>77,185,109</string>
				<string>237,233,102</string>
			</array>
			<array>
				<string>116,197,217</string>
				<string>77,185,109</string>
				<string>235,157,185</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>145,212,165</string>
		<key>colorDescription</key>
		<string>轻柔</string>
		<key>colorName</key>
		<string>浅绿色</string>
		<key>colors</key>
		<array>
			<array>
				<string>145,212,165</string>
				<string>249,205,173</string>
				<string>232,158,170</string>
			</array>
			<array>
				<string>145,212,165</string>
				<string>205,225,191</string>
				<string>176,151,192</string>
			</array>
			<array>
				<string>173,172,193</string>
				<string>184,224,216</string>
				<string>145,212,165</string>
			</array>
			<array>
				<string>166,221,187</string>
				<string>145,212,165</string>
				<string>236,171,204</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>33,133,128</string>
		<key>colorDescription</key>
		<string>骄傲</string>
		<key>colorName</key>
		<string>孔雀绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>172,169,114</string>
				<string>33,133,128</string>
				<string>103,143,95</string>
			</array>
			<array>
				<string>33,133,128</string>
				<string>156,163,144</string>
				<string>160,107,46</string>
			</array>
			<array>
				<string>33,133,128</string>
				<string>42,54,100</string>
				<string>146,99,127</string>
			</array>
			<array>
				<string>33,133,128</string>
				<string>35,82,122</string>
				<string>46,125,161</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>87,177,146</string>
		<key>colorDescription</key>
		<string>繁荣</string>
		<key>colorName</key>
		<string>碧绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>162,87,107</string>
				<string>221,122,144</string>
				<string>87,177,146</string>
			</array>
			<array>
				<string>178,206,88</string>
				<string>87,177,146</string>
				<string>121,194,213</string>
			</array>
			<array>
				<string>87,177,146</string>
				<string>219,234,165</string>
				<string>136,171,83</string>
			</array>
			<array>
				<string>87,177,146</string>
				<string>218,208,168</string>
				<string>134,86,151</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>110,171,137</string>
		<key>colorDescription</key>
		<string>优雅</string>
		<key>colorName</key>
		<string>灰绿色</string>
		<key>colors</key>
		<array>
			<array>
				<string>110,171,137</string>
				<string>228,206,191</string>
				<string>160,140,181</string>
			</array>
			<array>
				<string>110,171,137</string>
				<string>233,229,181</string>
				<string>222,130,132</string>
			</array>
			<array>
				<string>179,198,231</string>
				<string>110,171,137</string>
				<string>193,221,144</string>
			</array>
			<array>
				<string>110,171,137</string>
				<string>250,218,120</string>
				<string>183,199,124</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>63,142,119</string>
		<key>colorDescription</key>
		<string>沉着</string>
		<key>colorName</key>
		<string>森林绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>204,157,144</string>
				<string>63,142,119</string>
				<string>119,33,94</string>
			</array>
			<array>
				<string>95,120,144</string>
				<string>96,70,60</string>
				<string>63,142,119</string>
			</array>
			<array>
				<string>174,182,86</string>
				<string>35,91,83</string>
				<string>63,142,119</string>
			</array>
			<array>
				<string>169,138,86</string>
				<string>83,79,126</string>
				<string>63,142,119</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>36,95,78</string>
		<key>colorDescription</key>
		<string>深厚</string>
		<key>colorName</key>
		<string>墨绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>36,95,78</string>
				<string>207,128,85</string>
				<string>87,51,65</string>
			</array>
			<array>
				<string>36,95,78</string>
				<string>178,180,123</string>
				<string>86,129,162</string>
			</array>
			<array>
				<string>125,65,119</string>
				<string>218,194,89</string>
				<string>36,95,78</string>
			</array>
			<array>
				<string>62,154,169</string>
				<string>192,200,167</string>
				<string>36,95,78</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>43,117,83</string>
		<key>colorDescription</key>
		<string>清爽</string>
		<key>colorName</key>
		<string>薄荷</string>
		<key>colors</key>
		<array>
			<array>
				<string>43,117,83</string>
				<string>212,222,188</string>
				<string>121,145,195</string>
			</array>
			<array>
				<string>179,197,68</string>
				<string>43,117,83</string>
				<string>132,213,225</string>
			</array>
			<array>
				<string>224,142,42</string>
				<string>252,225,117</string>
				<string>43,117,83</string>
			</array>
			<array>
				<string>175,140,190</string>
				<string>43,117,83</string>
				<string>155,193,127</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>145,188,60</string>
		<key>colorDescription</key>
		<string>朝气</string>
		<key>colorName</key>
		<string>苹果绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>97,169,221</string>
				<string>54,89,172</string>
				<string>145,188,60</string>
			</array>
			<array>
				<string>119,116,29</string>
				<string>145,188,60</string>
				<string>61,167,133</string>
			</array>
			<array>
				<string>248,177,54</string>
				<string>145,188,60</string>
				<string>205,225,62</string>
			</array>
			<array>
				<string>145,188,60</string>
				<string>210,218,146</string>
				<string>215,82,53</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>82,76,26</string>
		<key>colorDescription</key>
		<string>诚意</string>
		<key>colorName</key>
		<string>橄榄绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>56,182,187</string>
				<string>43,126,138</string>
				<string>82,76,26</string>
			</array>
			<array>
				<string>79,63,119</string>
				<string>210,218,146</string>
				<string>82,76,26</string>
			</array>
			<array>
				<string>115,122,176</string>
				<string>82,76,26</string>
				<string>76,157,187</string>
			</array>
			<array>
				<string>82,76,26</string>
				<string>165,170,120</string>
				<string>110,34,72</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>79,144,112</string>
		<key>colorDescription</key>
		<string>品格</string>
		<key>colorName</key>
		<string>青灰绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>215,144,151</string>
				<string>79,144,112</string>
				<string>103,172,170</string>
			</array>
			<array>
				<string>113,74,125</string>
				<string>218,183,168</string>
				<string>79,144,112</string>
			</array>
			<array>
				<string>39,84,97</string>
				<string>79,144,112</string>
				<string>168,199,107</string>
			</array>
			<array>
				<string>79,144,112</string>
				<string>199,210,160</string>
				<string>75,75,144</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>74,165,133</string>
		<key>colorDescription</key>
		<string>冷静</string>
		<key>colorName</key>
		<string>海洋绿</string>
		<key>colors</key>
		<array>
			<array>
				<string>115,111,64</string>
				<string>229,207,137</string>
				<string>74,165,133</string>
			</array>
			<array>
				<string>211,139,105</string>
				<string>224,218,164</string>
				<string>74,165,133</string>
			</array>
			<array>
				<string>74,165,133</string>
				<string>127,169,198</string>
				<string>202,225,207</string>
			</array>
			<array>
				<string>74,165,133</string>
				<string>230,208,193</string>
				<string>144,87,116</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>133,195,178</string>
		<key>colorDescription</key>
		<string>含蓄</string>
		<key>colorName</key>
		<string>绿瓷</string>
		<key>colors</key>
		<array>
			<array>
				<string>133,195,178</string>
				<string>174,203,205</string>
				<string>141,120,160</string>
			</array>
			<array>
				<string>196,183,204</string>
				<string>133,195,178</string>
				<string>251,218,145</string>
			</array>
			<array>
				<string>250,213,197</string>
				<string>244,147,115</string>
				<string>133,195,178</string>
			</array>
			<array>
				<string>133,195,178</string>
				<string>171,199,185</string>
				<string>88,131,149</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>169,222,204</string>
		<key>colorDescription</key>
		<string>梦寐</string>
		<key>colorName</key>
		<string>绿白色</string>
		<key>colors</key>
		<array>
			<array>
				<string>169,222,204</string>
				<string>235,179,177</string>
				<string>253,221,185</string>
			</array>
			<array>
				<string>254,251,194</string>
				<string>169,222,204</string>
				<string>196,95,93</string>
			</array>
			<array>
				<string>158,193,211</string>
				<string>169,222,204</string>
				<string>183,157,198</string>
			</array>
			<array>
				<string>137,176,192</string>
				<string>169,222,204</string>
				<string>220,232,201</string>
			</array>
		</array>
	</dict>
</array>
</plist>
