<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<string>243,240,225</string>
		<key>colorDescription</key>
		<string>闪光</string>
		<key>colorName</key>
		<string>贝色</string>
		<key>colors</key>
		<array>
			<array>
				<string>169,215,221</string>
				<string>243,240,225</string>
				<string>251,230,189</string>
			</array>
			<array>
				<string>223,240,199</string>
				<string>193,214,168</string>
				<string>243,240,225</string>
			</array>
			<array>
				<string>243,240,225</string>
				<string>241,204,196</string>
				<string>215,174,196</string>
			</array>
			<array>
				<string>206,213,164</string>
				<string>243,240,225</string>
				<string>246,200,153</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>139,115,88</string>
		<key>colorDescription</key>
		<string>空阔</string>
		<key>colorName</key>
		<string>空五倍子色</string>
		<key>colors</key>
		<array>
			<array>
				<string>160,98,121</string>
				<string>103,81,76</string>
				<string>139,115,88</string>
			</array>
			<array>
				<string>139,115,88</string>
				<string>108,85,115</string>
				<string>150,118,146</string>
			</array>
			<array>
				<string>114,139,125</string>
				<string>84,92,76</string>
				<string>139,115,88</string>
			</array>
			<array>
				<string>139,115,88</string>
				<string>75,83,118</string>
				<string>95,139,116</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>174,158,121</string>
		<key>colorDescription</key>
		<string>怀念</string>
		<key>colorName</key>
		<string>灰汁色</string>
		<key>colors</key>
		<array>
			<array>
				<string>174,158,121</string>
				<string>190,180,120</string>
				<string>128,152,113</string>
			</array>
			<array>
				<string>174,158,121</string>
				<string>149,184,177</string>
				<string>102,129,106</string>
			</array>
			<array>
				<string>73,112,129</string>
				<string>202,195,126</string>
				<string>174,158,121</string>
			</array>
			<array>
				<string>161,95,113</string>
				<string>183,187,155</string>
				<string>174,158,121</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>115,113,114</string>
		<key>colorDescription</key>
		<string>中庸</string>
		<key>colorName</key>
		<string>中灰</string>
		<key>colors</key>
		<array>
			<array>
				<string>194,182,206</string>
				<string>115,113,114</string>
				<string>195,155,134</string>
			</array>
			<array>
				<string>194,160,157</string>
				<string>115,113,114</string>
				<string>175,186,174</string>
			</array>
			<array>
				<string>148,176,160</string>
				<string>215,210,217</string>
				<string>115,113,114</string>
			</array>
			<array>
				<string>115,113,114</string>
				<string>170,128,148</string>
				<string>219,190,192</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>144,142,143</string>
		<key>colorDescription</key>
		<string>模糊</string>
		<key>colorName</key>
		<string>浅灰</string>
		<key>colors</key>
		<array>
			<array>
				<string>116,101,138</string>
				<string>196,179,153</string>
				<string>144,142,143</string>
			</array>
			<array>
				<string>144,142,143</string>
				<string>205,186,158</string>
				<string>129,129,100</string>
			</array>
			<array>
				<string>91,121,140</string>
				<string>144,142,143</string>
				<string>190,180,145</string>
			</array>
			<array>
				<string>144,142,143</string>
				<string>155,64,92</string>
				<string>207,202,171</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>118,136,142</string>
		<key>colorDescription</key>
		<string>精致</string>
		<key>colorName</key>
		<string>蓝灰</string>
		<key>colors</key>
		<array>
			<array>
				<string>159,86,132</string>
				<string>193,152,138</string>
				<string>118,136,142</string>
			</array>
			<array>
				<string>118,136,142</string>
				<string>191,165,172</string>
				<string>100,112,154</string>
			</array>
			<array>
				<string>108,85,115</string>
				<string>192,164,186</string>
				<string>118,136,142</string>
			</array>
			<array>
				<string>73,117,151</string>
				<string>118,136,142</string>
				<string>159,170,147</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>168,130,137</string>
		<key>colorDescription</key>
		<string>谦虚</string>
		<key>colorName</key>
		<string>锈玫瑰</string>
		<key>colors</key>
		<array>
			<array>
				<string>184,136,116</string>
				<string>101,76,64</string>
				<string>168,130,137</string>
			</array>
			<array>
				<string>168,178,159</string>
				<string>168,130,137</string>
				<string>167,179,188</string>
			</array>
			<array>
				<string>168,130,137</string>
				<string>65,103,97</string>
				<string>129,153,138</string>
			</array>
			<array>
				<string>73,84,107</string>
				<string>168,130,137</string>
				<string>156,74,87</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>198,198,198</string>
		<key>colorDescription</key>
		<string>纤细</string>
		<key>colorName</key>
		<string>银灰</string>
		<key>colors</key>
		<array>
			<array>
				<string>215,188,178</string>
				<string>157,180,191</string>
				<string>198,198,198</string>
			</array>
			<array>
				<string>201,179,199</string>
				<string>239,216,194</string>
				<string>198,198,198</string>
			</array>
			<array>
				<string>198,198,198</string>
				<string>235,225,216</string>
				<string>219,171,179</string>
			</array>
			<array>
				<string>166,204,177</string>
				<string>225,229,198</string>
				<string>198,198,198</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>70,59,57</string>
		<key>colorDescription</key>
		<string>深沉</string>
		<key>colorName</key>
		<string>黑灰</string>
		<key>colors</key>
		<array>
			<array>
				<string>153,46,46</string>
				<string>70,59,57</string>
				<string>73,92,133</string>
			</array>
			<array>
				<string>158,77,47</string>
				<string>70,59,57</string>
				<string>83,127,136</string>
			</array>
			<array>
				<string>114,103,144</string>
				<string>70,59,57</string>
				<string>110,132,94</string>
			</array>
			<array>
				<string>137,91,121</string>
				<string>70,59,57</string>
				<string>153,113,88</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>164,120,70</string>
		<key>colorDescription</key>
		<string>衰退</string>
		<key>colorName</key>
		<string>黄灰</string>
		<key>colors</key>
		<array>
			<array>
				<string>109,73,36</string>
				<string>164,120,70</string>
				<string>132,50,68</string>
			</array>
			<array>
				<string>164,120,70</string>
				<string>175,178,156</string>
				<string>105,85,125</string>
			</array>
			<array>
				<string>82,63,99</string>
				<string>147,81,63</string>
				<string>164,120,70</string>
			</array>
			<array>
				<string>114,142,132</string>
				<string>69,105,117</string>
				<string>164,120,70</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>202,146,125</string>
		<key>colorDescription</key>
		<string>迟缓</string>
		<key>colorName</key>
		<string>赤白灰</string>
		<key>colors</key>
		<array>
			<array>
				<string>202,146,125</string>
				<string>197,185,143</string>
				<string>133,173,141</string>
			</array>
			<array>
				<string>202,146,125</string>
				<string>117,124,96</string>
				<string>115,85,107</string>
			</array>
			<array>
				<string>158,76,89</string>
				<string>202,146,125</string>
				<string>73,86,108</string>
			</array>
			<array>
				<string>162,167,129</string>
				<string>111,106,73</string>
				<string>202,146,125</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>139,154,125</string>
		<key>colorDescription</key>
		<string>谦逊</string>
		<key>colorName</key>
		<string>青白灰</string>
		<key>colors</key>
		<array>
			<array>
				<string>169,189,182</string>
				<string>139,154,125</string>
				<string>185,184,166</string>
			</array>
			<array>
				<string>139,154,125</string>
				<string>205,182,160</string>
				<string>171,149,97</string>
			</array>
			<array>
				<string>178,193,153</string>
				<string>139,154,125</string>
				<string>202,172,138</string>
			</array>
			<array>
				<string>220,186,185</string>
				<string>182,185,136</string>
				<string>139,154,125</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>140,116,122</string>
		<key>colorDescription</key>
		<string>归隐</string>
		<key>colorName</key>
		<string>鸠羽灰</string>
		<key>colors</key>
		<array>
			<array>
				<string>131,78,102</string>
				<string>189,183,149</string>
				<string>140,116,122</string>
			</array>
			<array>
				<string>97,110,111</string>
				<string>162,164,146</string>
				<string>140,116,122</string>
			</array>
			<array>
				<string>140,116,122</string>
				<string>85,98,114</string>
				<string>126,145,136</string>
			</array>
			<array>
				<string>135,137,151</string>
				<string>128,80,120</string>
				<string>140,116,122</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>133,150,125</string>
		<key>colorDescription</key>
		<string>幽远</string>
		<key>colorName</key>
		<string>青绿灰</string>
		<key>colors</key>
		<array>
			<array>
				<string>133,150,125</string>
				<string>77,107,104</string>
				<string>129,155,163</string>
			</array>
			<array>
				<string>167,181,178</string>
				<string>133,150,125</string>
				<string>197,160,148</string>
			</array>
			<array>
				<string>150,121,151</string>
				<string>200,178,162</string>
				<string>133,150,125</string>
			</array>
			<array>
				<string>133,150,125</string>
				<string>168,186,193</string>
				<string>118,158,171</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>91,102,90</string>
		<key>colorDescription</key>
		<string>豁达</string>
		<key>colorName</key>
		<string>青灰</string>
		<key>colors</key>
		<array>
			<array>
				<string>91,102,90</string>
				<string>169,154,142</string>
				<string>100,87,118</string>
			</array>
			<array>
				<string>91,102,90</string>
				<string>128,144,153</string>
				<string>123,90,109</string>
			</array>
			<array>
				<string>117,88,81</string>
				<string>161,132,134</string>
				<string>91,102,90</string>
			</array>
			<array>
				<string>95,84,122</string>
				<string>163,112,125</string>
				<string>91,102,90</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>112,110,111</string>
		<key>colorDescription</key>
		<string>沉闷</string>
		<key>colorName</key>
		<string>铅色</string>
		<key>colors</key>
		<array>
			<array>
				<string>112,110,111</string>
				<string>189,173,179</string>
				<string>131,116,148</string>
			</array>
			<array>
				<string>120,149,159</string>
				<string>184,168,162</string>
				<string>112,110,111</string>
			</array>
			<array>
				<string>200,173,194</string>
				<string>112,110,111</string>
				<string>137,153,177</string>
			</array>
			<array>
				<string>112,110,111</string>
				<string>209,184,161</string>
				<string>144,159,145</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>9,20,10</string>
		<key>colorDescription</key>
		<string>崇高</string>
		<key>colorName</key>
		<string>濡雨色</string>
		<key>colors</key>
		<array>
			<array>
				<string>9,20,10</string>
				<string>55,122,104</string>
				<string>118,176,90</string>
			</array>
			<array>
				<string>169,54,119</string>
				<string>9,20,10</string>
				<string>218,85,83</string>
			</array>
			<array>
				<string>226,192,50</string>
				<string>217,99,38</string>
				<string>9,20,10</string>
			</array>
			<array>
				<string>9,20,10</string>
				<string>102,176,202</string>
				<string>32,140,169</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>68,49,43</string>
		<key>colorDescription</key>
		<string>混浊</string>
		<key>colorName</key>
		<string>中黄黑</string>
		<key>colors</key>
		<array>
			<array>
				<string>193,114,73</string>
				<string>68,49,43</string>
				<string>142,148,80</string>
			</array>
			<array>
				<string>166,96,47</string>
				<string>218,183,110</string>
				<string>68,49,43</string>
			</array>
			<array>
				<string>68,49,43</string>
				<string>161,175,141</string>
				<string>44,97,107</string>
			</array>
			<array>
				<string>142,148,80</string>
				<string>68,49,43</string>
				<string>165,99,124</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>68,64,63</string>
		<key>colorDescription</key>
		<string>暗淡</string>
		<key>colorName</key>
		<string>消炭色</string>
		<key>colors</key>
		<array>
			<array>
				<string>176,161,138</string>
				<string>118,124,72</string>
				<string>68,64,63</string>
			</array>
			<array>
				<string>79,93,128</string>
				<string>155,111,79</string>
				<string>68,64,63</string>
			</array>
			<array>
				<string>127,69,74</string>
				<string>68,64,63</string>
				<string>98,124,97</string>
			</array>
			<array>
				<string>65,74,101</string>
				<string>138,72,98</string>
				<string>68,64,63</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>147,143,142</string>
		<key>colorDescription</key>
		<string>无常</string>
		<key>colorName</key>
		<string>薄墨色</string>
		<key>colors</key>
		<array>
			<array>
				<string>215,206,171</string>
				<string>147,143,142</string>
				<string>227,178,182</string>
			</array>
			<array>
				<string>206,206,216</string>
				<string>147,143,142</string>
				<string>214,163,186</string>
			</array>
			<array>
				<string>169,195,211</string>
				<string>147,143,142</string>
				<string>216,172,189</string>
			</array>
			<array>
				<string>177,207,191</string>
				<string>147,143,142</string>
				<string>196,211,161</string>
			</array>
		</array>
	</dict>
</array>
</plist>
