<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<string>205,183,215</string>
		<key>colorDescription</key>
		<string>脱俗</string>
		<key>colorName</key>
		<string>薰衣草</string>
		<key>colors</key>
		<array>
			<array>
				<string>133,172,205</string>
				<string>242,238,188</string>
				<string>205,183,215</string>
			</array>
			<array>
				<string>205,183,215</string>
				<string>212,229,184</string>
				<string>155,166,138</string>
			</array>
			<array>
				<string>171,201,196</string>
				<string>84,114,146</string>
				<string>205,183,215</string>
			</array>
			<array>
				<string>229,200,169</string>
				<string>180,98,154</string>
				<string>205,183,215</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>116,79,167</string>
		<key>colorDescription</key>
		<string>风雅</string>
		<key>colorName</key>
		<string>紫藤</string>
		<key>colors</key>
		<array>
			<array>
				<string>116,79,167</string>
				<string>172,115,112</string>
				<string>91,116,129</string>
			</array>
			<array>
				<string>116,79,167</string>
				<string>209,204,169</string>
				<string>115,153,118</string>
			</array>
			<array>
				<string>116,79,167</string>
				<string>174,153,165</string>
				<string>162,206,152</string>
			</array>
			<array>
				<string>43,78,144</string>
				<string>81,150,160</string>
				<string>116,79,167</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>177,147,206</string>
		<key>colorDescription</key>
		<string>清纯</string>
		<key>colorName</key>
		<string>丁香</string>
		<key>colors</key>
		<array>
			<array>
				<string>229,177,207</string>
				<string>177,147,206</string>
				<string>195,207,145</string>
			</array>
			<array>
				<string>193,230,183</string>
				<string>177,147,206</string>
				<string>180,209,237</string>
			</array>
			<array>
				<string>130,170,213</string>
				<string>217,199,183</string>
				<string>177,147,206</string>
			</array>
			<array>
				<string>177,147,206</string>
				<string>233,206,168</string>
				<string>216,157,116</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>176,105,183</string>
		<key>colorDescription</key>
		<string>温存</string>
		<key>colorName</key>
		<string>菖蒲色</string>
		<key>colors</key>
		<array>
			<array>
				<string>176,105,183</string>
				<string>228,206,191</string>
				<string>160,140,181</string>
			</array>
			<array>
				<string>176,105,183</string>
				<string>207,46,132</string>
				<string>233,229,181</string>
			</array>
			<array>
				<string>178,197,230</string>
				<string>176,105,183</string>
				<string>193,221,144</string>
			</array>
			<array>
				<string>176,105,183</string>
				<string>233,229,181</string>
				<string>183,199,124</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>137,37,140</string>
		<key>colorDescription</key>
		<string>神秘</string>
		<key>colorName</key>
		<string>紫色</string>
		<key>colors</key>
		<array>
			<array>
				<string>155,174,111</string>
				<string>137,37,140</string>
				<string>236,171,204</string>
			</array>
			<array>
				<string>137,37,140</string>
				<string>140,163,92</string>
				<string>212,210,165</string>
			</array>
			<array>
				<string>137,37,140</string>
				<string>243,209,124</string>
				<string>49,99,164</string>
			</array>
			<array>
				<string>223,144,111</string>
				<string>137,37,140</string>
				<string>115,173,185</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>136,61,156</string>
		<key>colorDescription</key>
		<string>别致</string>
		<key>colorName</key>
		<string>兰紫色</string>
		<key>colors</key>
		<array>
			<array>
				<string>198,175,110</string>
				<string>136,61,156</string>
				<string>125,162,159</string>
			</array>
			<array>
				<string>136,61,156</string>
				<string>207,206,159</string>
				<string>101,125,76</string>
			</array>
			<array>
				<string>189,148,188</string>
				<string>136,61,156</string>
				<string>192,163,71</string>
			</array>
			<array>
				<string>172,203,180</string>
				<string>103,152,129</string>
				<string>136,61,156</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>176,33,131</string>
		<key>colorDescription</key>
		<string>靓丽</string>
		<key>colorName</key>
		<string>红紫色</string>
		<key>colors</key>
		<array>
			<array>
				<string>229,202,127</string>
				<string>98,182,198</string>
				<string>176,33,131</string>
			</array>
			<array>
				<string>172,204,97</string>
				<string>225,222,199</string>
				<string>176,33,131</string>
			</array>
			<array>
				<string>176,33,131</string>
				<string>228,124,151</string>
				<string>176,206,152</string>
			</array>
			<array>
				<string>90,45,134</string>
				<string>229,200,169</string>
				<string>176,33,131</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>169,38,120</string>
		<key>colorDescription</key>
		<string>雅致</string>
		<key>colorName</key>
		<string>李子色</string>
		<key>colors</key>
		<array>
			<array>
				<string>169,38,120</string>
				<string>233,229,187</string>
				<string>120,167,161</string>
			</array>
			<array>
				<string>242,228,199</string>
				<string>222,166,193</string>
				<string>169,38,120</string>
			</array>
			<array>
				<string>109,141,179</string>
				<string>169,38,120</string>
				<string>208,107,132</string>
			</array>
			<array>
				<string>169,38,120</string>
				<string>197,225,218</string>
				<string>82,117,185</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>117,71,139</string>
		<key>colorDescription</key>
		<string>直觉</string>
		<key>colorName</key>
		<string>紫水晶</string>
		<key>colors</key>
		<array>
			<array>
				<string>210,95,143</string>
				<string>117,71,139</string>
				<string>133,140,202</string>
			</array>
			<array>
				<string>85,173,178</string>
				<string>117,71,139</string>
				<string>144,193,85</string>
			</array>
			<array>
				<string>192,69,75</string>
				<string>117,71,139</string>
				<string>200,164,63</string>
			</array>
			<array>
				<string>194,77,133</string>
				<string>233,229,181</string>
				<string>117,71,139</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>207,179,211</string>
		<key>colorDescription</key>
		<string>柔美</string>
		<key>colorName</key>
		<string>兰花色</string>
		<key>colors</key>
		<array>
			<array>
				<string>207,179,211</string>
				<string>234,231,183</string>
				<string>224,150,150</string>
			</array>
			<array>
				<string>210,217,166</string>
				<string>207,179,211</string>
				<string>249,197,186</string>
			</array>
			<array>
				<string>207,179,211</string>
				<string>138,160,195</string>
				<string>171,201,196</string>
			</array>
			<array>
				<string>207,179,211</string>
				<string>233,229,187</string>
				<string>109,155,196</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>171,161,197</string>
		<key>colorDescription</key>
		<string>淡薄</string>
		<key>colorName</key>
		<string>欧薄荷</string>
		<key>colors</key>
		<array>
			<array>
				<string>211,144,161</string>
				<string>234,208,221</string>
				<string>171,161,197</string>
			</array>
			<array>
				<string>224,201,175</string>
				<string>171,161,197</string>
				<string>188,227,216</string>
			</array>
			<array>
				<string>171,161,197</string>
				<string>244,243,193</string>
				<string>162,206,152</string>
			</array>
			<array>
				<string>171,161,197</string>
				<string>253,233,199</string>
				<string>221,194,112</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>184,156,180</string>
		<key>colorDescription</key>
		<string>诡秘</string>
		<key>colorName</key>
		<string>灰紫色</string>
		<key>colors</key>
		<array>
			<array>
				<string>184,156,180</string>
				<string>93,50,78</string>
				<string>166,152,110</string>
			</array>
			<array>
				<string>184,156,180</string>
				<string>85,111,142</string>
				<string>175,182,157</string>
			</array>
			<array>
				<string>59,86,114</string>
				<string>233,229,178</string>
				<string>184,156,180</string>
			</array>
			<array>
				<string>126,171,182</string>
				<string>216,190,174</string>
				<string>184,156,180</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>108,90,163</string>
		<key>colorDescription</key>
		<string>理智</string>
		<key>colorName</key>
		<string>青紫色</string>
		<key>colors</key>
		<array>
			<array>
				<string>108,90,163</string>
				<string>221,190,193</string>
				<string>137,43,119</string>
			</array>
			<array>
				<string>163,172,207</string>
				<string>108,90,163</string>
				<string>212,179,94</string>
			</array>
			<array>
				<string>91,141,195</string>
				<string>244,243,192</string>
				<string>108,90,163</string>
			</array>
			<array>
				<string>218,185,146</string>
				<string>108,90,163</string>
				<string>200,100,152</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>107,60,132</string>
		<key>colorDescription</key>
		<string>博大</string>
		<key>colorName</key>
		<string>暗紫罗兰</string>
		<key>colors</key>
		<array>
			<array>
				<string>198,180,143</string>
				<string>178,103,166</string>
				<string>107,60,132</string>
			</array>
			<array>
				<string>89,113,163</string>
				<string>164,180,170</string>
				<string>107,60,132</string>
			</array>
			<array>
				<string>68,101,106</string>
				<string>179,170,127</string>
				<string>107,60,132</string>
			</array>
			<array>
				<string>130,66,106</string>
				<string>180,180,139</string>
				<string>107,60,132</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>137,105,179</string>
		<key>colorDescription</key>
		<string>时尚</string>
		<key>colorName</key>
		<string>虹膜色</string>
		<key>colors</key>
		<array>
			<array>
				<string>183,120,129</string>
				<string>219,234,165</string>
				<string>137,105,179</string>
			</array>
			<array>
				<string>122,168,196</string>
				<string>222,236,192</string>
				<string>137,105,179</string>
			</array>
			<array>
				<string>230,166,122</string>
				<string>244,218,184</string>
				<string>137,105,179</string>
			</array>
			<array>
				<string>137,105,179</string>
				<string>207,200,152</string>
				<string>152,175,102</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>123,43,131</string>
		<key>colorDescription</key>
		<string>典雅</string>
		<key>colorName</key>
		<string>暗紫色</string>
		<key>colors</key>
		<array>
			<array>
				<string>90,141,170</string>
				<string>178,186,205</string>
				<string>123,43,131</string>
			</array>
			<array>
				<string>88,40,78</string>
				<string>222,181,148</string>
				<string>123,43,131</string>
			</array>
			<array>
				<string>72,106,117</string>
				<string>144,175,128</string>
				<string>123,43,131</string>
			</array>
			<array>
				<string>123,43,131</string>
				<string>220,193,173</string>
				<string>120,133,192</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>198,148,181</string>
		<key>colorDescription</key>
		<string>朦胧</string>
		<key>colorName</key>
		<string>古代紫</string>
		<key>colors</key>
		<array>
			<array>
				<string>198,148,181</string>
				<string>232,158,170</string>
				<string>249,204,173</string>
			</array>
			<array>
				<string>198,148,181</string>
				<string>207,199,175</string>
				<string>177,139,186</string>
			</array>
			<array>
				<string>173,172,193</string>
				<string>223,242,226</string>
				<string>198,148,181</string>
			</array>
			<array>
				<string>177,209,188</string>
				<string>198,148,181</string>
				<string>225,188,198</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>123,22,92</string>
		<key>colorDescription</key>
		<string>独立</string>
		<key>colorName</key>
		<string>蝴蝶花</string>
		<key>colors</key>
		<array>
			<array>
				<string>123,22,92</string>
				<string>200,169,118</string>
				<string>168,95,37</string>
			</array>
			<array>
				<string>200,68,116</string>
				<string>123,22,92</string>
				<string>88,141,128</string>
			</array>
			<array>
				<string>188,177,91</string>
				<string>123,22,92</string>
				<string>100,134,93</string>
			</array>
			<array>
				<string>151,183,143</string>
				<string>123,22,92</string>
				<string>70,127,128</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>101,37,111</string>
		<key>colorDescription</key>
		<string>美丽</string>
		<key>colorName</key>
		<string>香水草</string>
		<key>colors</key>
		<array>
			<array>
				<string>101,37,111</string>
				<string>188,189,145</string>
				<string>84,125,105</string>
			</array>
			<array>
				<string>137,37,140</string>
				<string>198,148,181</string>
				<string>101,37,111</string>
			</array>
			<array>
				<string>60,68,128</string>
				<string>170,143,71</string>
				<string>101,37,111</string>
			</array>
			<array>
				<string>155,127,83</string>
				<string>101,37,111</string>
				<string>154,97,129</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>126,33,109</string>
		<key>colorDescription</key>
		<string>亲切</string>
		<key>colorName</key>
		<string>红豆色</string>
		<key>colors</key>
		<array>
			<array>
				<string>126,33,109</string>
				<string>193,153,131</string>
				<string>29,113,107</string>
			</array>
			<array>
				<string>126,33,109</string>
				<string>214,166,96</string>
				<string>59,96,144</string>
			</array>
			<array>
				<string>104,64,133</string>
				<string>167,170,122</string>
				<string>126,33,109</string>
			</array>
			<array>
				<string>50,50,100</string>
				<string>177,108,94</string>
				<string>126,33,109</string>
			</array>
		</array>
	</dict>
</array>
</plist>
