<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>color</key>
		<string>206,51,45</string>
		<key>colorDescription</key>
		<string>华丽</string>
		<key>colorName</key>
		<string>绯</string>
		<key>colors</key>
		<array>
			<array>
				<string>243,222,196</string>
				<string>206,51,45</string>
				<string>123,38,45</string>
			</array>
			<array>
				<string>135,139,202</string>
				<string>233,177,105</string>
				<string>206,51,45</string>
			</array>
			<array>
				<string>35,91,83</string>
				<string>206,51,45</string>
				<string>219,234,165</string>
			</array>
			<array>
				<string>206,51,45</string>
				<string>230,223,201</string>
				<string>44,88,164</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>232,43,52</string>
		<key>colorDescription</key>
		<string>大胆</string>
		<key>colorName</key>
		<string>绯红</string>
		<key>colors</key>
		<array>
			<array>
				<string>174,189,61</string>
				<string>232,43,52</string>
				<string>90,62,145</string>
			</array>
			<array>
				<string>239,114,41</string>
				<string>232,43,52</string>
				<string>37,170,174</string>
			</array>
			<array>
				<string>232,43,52</string>
				<string>246,181,46</string>
				<string>213,63,56</string>
			</array>
			<array>
				<string>175,40,110</string>
				<string>50,154,88</string>
				<string>232,43,52</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>196,39,46</string>
		<key>colorDescription</key>
		<string>威严</string>
		<key>colorName</key>
		<string>深绯</string>
		<key>colors</key>
		<array>
			<array>
				<string>200,108,118</string>
				<string>196,39,46</string>
				<string>67,27,50</string>
			</array>
			<array>
				<string>196,39,46</string>
				<string>119,116,29</string>
				<string>71,85,117</string>
			</array>
			<array>
				<string>75,61,95</string>
				<string>196,39,46</string>
				<string>174,152,83</string>
			</array>
			<array>
				<string>41,117,74</string>
				<string>94,8,24</string>
				<string>196,39,46</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>218,89,96</string>
		<key>colorDescription</key>
		<string>温馨</string>
		<key>colorName</key>
		<string>浅绯</string>
		<key>colors</key>
		<array>
			<array>
				<string>218,89,96</string>
				<string>235,179,177</string>
				<string>253,221,185</string>
			</array>
			<array>
				<string>239,194,146</string>
				<string>218,89,96</string>
				<string>147,80,73</string>
			</array>
			<array>
				<string>166,177,195</string>
				<string>227,198,187</string>
				<string>218,89,96</string>
			</array>
			<array>
				<string>137,176,192</string>
				<string>218,89,96</string>
				<string>176,205,152</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>212,41,39</string>
		<key>colorDescription</key>
		<string>力量</string>
		<key>colorName</key>
		<string>正红</string>
		<key>colors</key>
		<array>
			<array>
				<string>248,176,45</string>
				<string>212,41,39</string>
				<string>59,76,154</string>
			</array>
			<array>
				<string>78,166,86</string>
				<string>212,41,39</string>
				<string>37,170,174</string>
			</array>
			<array>
				<string>212,41,39</string>
				<string>239,114,41</string>
				<string>214,57,125</string>
			</array>
			<array>
				<string>238,164,150</string>
				<string>212,41,39</string>
				<string>174,189,61</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>214,131,127</string>
		<key>colorDescription</key>
		<string>和气</string>
		<key>colorName</key>
		<string>薄红</string>
		<key>colors</key>
		<array>
			<array>
				<string>214,131,127</string>
				<string>254,241,156</string>
				<string>188,224,128</string>
			</array>
			<array>
				<string>192,213,174</string>
				<string>214,131,127</string>
				<string>149,182,200</string>
			</array>
			<array>
				<string>145,217,226</string>
				<string>252,231,208</string>
				<string>214,131,127</string>
			</array>
			<array>
				<string>228,124,159</string>
				<string>248,189,142</string>
				<string>214,131,127</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>241,119,141</string>
		<key>colorDescription</key>
		<string>娇媚</string>
		<key>colorName</key>
		<string>浓粉</string>
		<key>colors</key>
		<array>
			<array>
				<string>241,119,141</string>
				<string>250,211,149</string>
				<string>239,114,41</string>
			</array>
			<array>
				<string>200,68,116</string>
				<string>241,119,141</string>
				<string>88,141,128</string>
			</array>
			<array>
				<string>207,196,100</string>
				<string>241,119,141</string>
				<string>118,158,110</string>
			</array>
			<array>
				<string>173,211,164</string>
				<string>241,119,141</string>
				<string>88,162,162</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>249,204,210</string>
		<key>colorDescription</key>
		<string>轻柔</string>
		<key>colorName</key>
		<string>浅粉</string>
		<key>colors</key>
		<array>
			<array>
				<string>249,204,210</string>
				<string>232,158,170</string>
				<string>249,205,173</string>
			</array>
			<array>
				<string>249,204,210</string>
				<string>177,139,186</string>
				<string>217,209,168</string>
			</array>
			<array>
				<string>173,172,193</string>
				<string>184,224,216</string>
				<string>249,204,210</string>
			</array>
			<array>
				<string>166,221,187</string>
				<string>249,204,210</string>
				<string>236,171,204</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>212,29,119</string>
		<key>colorDescription</key>
		<string>娇艳</string>
		<key>colorName</key>
		<string>牡丹红</string>
		<key>colors</key>
		<array>
			<array>
				<string>174,189,61</string>
				<string>212,29,119</string>
				<string>90,62,145</string>
			</array>
			<array>
				<string>212,29,119</string>
				<string>239,114,41</string>
				<string>89,179,176</string>
			</array>
			<array>
				<string>212,29,119</string>
				<string>43,103,153</string>
				<string>236,162,94</string>
			</array>
			<array>
				<string>65,124,96</string>
				<string>226,161,147</string>
				<string>212,29,119</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>235,75,126</string>
		<key>colorDescription</key>
		<string>愉快</string>
		<key>colorName</key>
		<string>山茶粉</string>
		<key>colors</key>
		<array>
			<array>
				<string>229,132,79</string>
				<string>219,225,89</string>
				<string>235,75,126</string>
			</array>
			<array>
				<string>178,207,88</string>
				<string>235,75,126</string>
				<string>121,194,213</string>
			</array>
			<array>
				<string>235,75,126</string>
				<string>219,234,165</string>
				<string>215,64,56</string>
			</array>
			<array>
				<string>235,75,126</string>
				<string>216,181,146</string>
				<string>135,76,146</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>207,68,109</string>
		<key>colorDescription</key>
		<string>微笑</string>
		<key>colorName</key>
		<string>山茶色</string>
		<key>colors</key>
		<array>
			<array>
				<string>243,222,196</string>
				<string>207,68,109</string>
				<string>244,156,185</string>
			</array>
			<array>
				<string>95,162,136</string>
				<string>249,205,173</string>
				<string>207,68,109</string>
			</array>
			<array>
				<string>237,212,138</string>
				<string>207,68,109</string>
				<string>181,214,217</string>
			</array>
			<array>
				<string>207,68,109</string>
				<string>210,187,216</string>
				<string>125,54,75</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>241,202,208</string>
		<key>colorDescription</key>
		<string>动人</string>
		<key>colorName</key>
		<string>浅山茶色</string>
		<key>colors</key>
		<array>
			<array>
				<string>241,202,208</string>
				<string>235,179,177</string>
				<string>253,221,185</string>
			</array>
			<array>
				<string>241,202,208</string>
				<string>176,187,212</string>
				<string>215,101,128</string>
			</array>
			<array>
				<string>158,193,211</string>
				<string>241,202,208</string>
				<string>183,157,198</string>
			</array>
			<array>
				<string>126,174,192</string>
				<string>241,202,208</string>
				<string>167,206,155</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>232,36,108</string>
		<key>colorDescription</key>
		<string>典雅</string>
		<key>colorName</key>
		<string>蔷薇色</string>
		<key>colors</key>
		<array>
			<array>
				<string>61,127,184</string>
				<string>155,211,216</string>
				<string>241,202,208</string>
			</array>
			<array>
				<string>88,40,78</string>
				<string>241,202,208</string>
				<string>222,181,148</string>
			</array>
			<array>
				<string>39,84,97</string>
				<string>241,202,208</string>
				<string>167,199,107</string>
			</array>
			<array>
				<string>241,202,208</string>
				<string>230,223,201</string>
				<string>75,75,144</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>237,166,185</string>
		<key>colorDescription</key>
		<string>雅致</string>
		<key>colorName</key>
		<string>珊瑚粉</string>
		<key>colors</key>
		<array>
			<array>
				<string>237,166,185</string>
				<string>243,222,196</string>
				<string>120,167,161</string>
			</array>
			<array>
				<string>225,222,199</string>
				<string>161,153,209</string>
				<string>237,166,185</string>
			</array>
			<array>
				<string>109,141,179</string>
				<string>237,166,185</string>
				<string>207,107,132</string>
			</array>
			<array>
				<string>237,166,185</string>
				<string>197,226,218</string>
				<string>82,117,185</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>246,180,192</string>
		<key>colorDescription</key>
		<string>梦想</string>
		<key>colorName</key>
		<string>红梅粉</string>
		<key>colors</key>
		<array>
			<array>
				<string>209,204,145</string>
				<string>130,186,185</string>
				<string>246,180,192</string>
			</array>
			<array>
				<string>193,221,144</string>
				<string>239,231,166</string>
				<string>246,180,192</string>
			</array>
			<array>
				<string>246,180,192</string>
				<string>137,176,192</string>
				<string>204,196,218</string>
			</array>
			<array>
				<string>188,136,180</string>
				<string>246,180,192</string>
				<string>252,221,201</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>239,107,153</string>
		<key>colorDescription</key>
		<string>柔顺</string>
		<key>colorName</key>
		<string>玫瑰粉</string>
		<key>colors</key>
		<array>
			<array>
				<string>239,107,153</string>
				<string>228,206,191</string>
				<string>160,140,181</string>
			</array>
			<array>
				<string>239,107,153</string>
				<string>206,46,133</string>
				<string>233,229,181</string>
			</array>
			<array>
				<string>180,198,232</string>
				<string>239,107,153</string>
				<string>193,221,144</string>
			</array>
			<array>
				<string>239,107,153</string>
				<string>250,218,120</string>
				<string>183,199,124</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>210,27,73</string>
		<key>colorDescription</key>
		<string>生动</string>
		<key>colorName</key>
		<string>洋红</string>
		<key>colors</key>
		<array>
			<array>
				<string>210,27,73</string>
				<string>237,204,178</string>
				<string>101,171,60</string>
			</array>
			<array>
				<string>34,89,171</string>
				<string>32,154,159</string>
				<string>210,27,73</string>
			</array>
			<array>
				<string>210,27,73</string>
				<string>244,151,66</string>
				<string>215,64,56</string>
			</array>
			<array>
				<string>210,27,73</string>
				<string>253,222,146</string>
				<string>97,72,143</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>235,71,56</string>
		<key>colorDescription</key>
		<string>积极</string>
		<key>colorName</key>
		<string>朱红</string>
		<key>colors</key>
		<array>
			<array>
				<string>210,201,76</string>
				<string>235,71,56</string>
				<string>109,172,223</string>
			</array>
			<array>
				<string>235,71,56</string>
				<string>142,60,105</string>
				<string>227,139,113</string>
			</array>
			<array>
				<string>235,71,56</string>
				<string>247,182,54</string>
				<string>106,202,197</string>
			</array>
			<array>
				<string>157,211,85</string>
				<string>235,71,56</string>
				<string>245,156,66</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>216,59,55</string>
		<key>colorDescription</key>
		<string>热情</string>
		<key>colorName</key>
		<string>中国红</string>
		<key>colors</key>
		<array>
			<array>
				<string>37,78,162</string>
				<string>216,59,55</string>
				<string>223,172,64</string>
			</array>
			<array>
				<string>229,110,154</string>
				<string>250,218,120</string>
				<string>216,59,55</string>
			</array>
			<array>
				<string>132,187,78</string>
				<string>216,59,55</string>
				<string>237,163,147</string>
			</array>
			<array>
				<string>50,155,88</string>
				<string>216,59,55</string>
				<string>45,177,205</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>187,62,60</string>
		<key>colorDescription</key>
		<string>成熟</string>
		<key>colorName</key>
		<string>深红</string>
		<key>colors</key>
		<array>
			<array>
				<string>187,62,60</string>
				<string>188,189,145</string>
				<string>105,149,125</string>
			</array>
			<array>
				<string>210,187,216</string>
				<string>187,62,60</string>
				<string>85,63,97</string>
			</array>
			<array>
				<string>63,92,133</string>
				<string>130,115,70</string>
				<string>187,62,60</string>
			</array>
			<array>
				<string>194,105,65</string>
				<string>187,62,60</string>
				<string>89,18,13</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>172,21,64</string>
		<key>colorDescription</key>
		<string>高贵</string>
		<key>colorName</key>
		<string>酒红</string>
		<key>colors</key>
		<array>
			<array>
				<string>172,21,64</string>
				<string>200,158,112</string>
				<string>123,38,45</string>
			</array>
			<array>
				<string>204,101,52</string>
				<string>226,185,153</string>
				<string>172,21,64</string>
			</array>
			<array>
				<string>186,88,98</string>
				<string>172,21,64</string>
				<string>87,30,73</string>
			</array>
			<array>
				<string>172,21,64</string>
				<string>99,140,173</string>
				<string>50,50,100</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>90,30,46</string>
		<key>colorDescription</key>
		<string>坚强</string>
		<key>colorName</key>
		<string>浓酒红</string>
		<key>colors</key>
		<array>
			<array>
				<string>156,69,91</string>
				<string>166,125,69</string>
				<string>90,30,46</string>
			</array>
			<array>
				<string>41,117,74</string>
				<string>90,30,46</string>
				<string>66,117,140</string>
			</array>
			<array>
				<string>81,71,111</string>
				<string>150,127,104</string>
				<string>90,30,46</string>
			</array>
			<array>
				<string>76,101,88</string>
				<string>90,30,46</string>
				<string>136,14,57</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>195,32,93</string>
		<key>colorDescription</key>
		<string>富足</string>
		<key>colorName</key>
		<string>宝石红</string>
		<key>colors</key>
		<array>
			<array>
				<string>195,32,93</string>
				<string>233,176,169</string>
				<string>235,67,86</string>
			</array>
			<array>
				<string>195,32,93</string>
				<string>251,210,93</string>
				<string>68,139,189</string>
			</array>
			<array>
				<string>104,64,133</string>
				<string>242,134,51</string>
				<string>195,32,93</string>
			</array>
			<array>
				<string>50,50,100</string>
				<string>195,32,93</string>
				<string>130,31,52</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>181,91,119</string>
		<key>colorDescription</key>
		<string>古朴</string>
		<key>colorName</key>
		<string>枯红</string>
		<key>colors</key>
		<array>
			<array>
				<string>181,91,119</string>
				<string>221,210,161</string>
				<string>166,177,195</string>
			</array>
			<array>
				<string>181,91,119</string>
				<string>228,206,191</string>
				<string>155,93,61</string>
			</array>
			<array>
				<string>224,152,124</string>
				<string>181,91,119</string>
				<string>158,183,122</string>
			</array>
			<array>
				<string>181,91,119</string>
				<string>136,61,50</string>
				<string>160,140,181</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>218,97,150</string>
		<key>colorDescription</key>
		<string>浪漫</string>
		<key>colorName</key>
		<string>桃色</string>
		<key>colors</key>
		<array>
			<array>
				<string>218,97,150</string>
				<string>174,203,205</string>
				<string>141,120,160</string>
			</array>
			<array>
				<string>195,171,216</string>
				<string>218,97,150</string>
				<string>251,218,145</string>
			</array>
			<array>
				<string>167,208,196</string>
				<string>205,220,242</string>
				<string>218,97,150</string>
			</array>
			<array>
				<string>218,97,150</string>
				<string>200,224,174</string>
				<string>94,156,155</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>147,17,76</string>
		<key>colorDescription</key>
		<string>豪华</string>
		<key>colorName</key>
		<string>葡萄色</string>
		<key>colors</key>
		<array>
			<array>
				<string>147,17,76</string>
				<string>202,126,96</string>
				<string>67,27,50</string>
			</array>
			<array>
				<string>147,17,76</string>
				<string>234,148,63</string>
				<string>44,86,148</string>
			</array>
			<array>
				<string>91,45,116</string>
				<string>149,111,69</string>
				<string>147,17,76</string>
			</array>
			<array>
				<string>168,186,124</string>
				<string>27,98,74</string>
				<string>147,17,76</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>194,31,116</string>
		<key>colorDescription</key>
		<string>个性</string>
		<key>colorName</key>
		<string>品红</string>
		<key>colors</key>
		<array>
			<array>
				<string>213,99,131</string>
				<string>194,31,116</string>
				<string>90,155,161</string>
			</array>
			<array>
				<string>248,176,45</string>
				<string>44,88,165</string>
				<string>194,31,116</string>
			</array>
			<array>
				<string>194,31,116</string>
				<string>169,170,51</string>
				<string>206,51,45</string>
			</array>
			<array>
				<string>55,130,128</string>
				<string>129,195,98</string>
				<string>194,31,116</string>
			</array>
		</array>
	</dict>
	<dict>
		<key>color</key>
		<string>168,55,87</string>
		<key>colorDescription</key>
		<string>风韵</string>
		<key>colorName</key>
		<string>胭脂红</string>
		<key>colors</key>
		<array>
			<array>
				<string>204,157,144</string>
				<string>168,55,87</string>
				<string>119,33,94</string>
			</array>
			<array>
				<string>90,140,153</string>
				<string>168,55,87</string>
				<string>92,9,24</string>
			</array>
			<array>
				<string>174,182,86</string>
				<string>35,91,83</string>
				<string>168,55,87</string>
			</array>
			<array>
				<string>233,177,105</string>
				<string>83,44,107</string>
				<string>168,55,87</string>
			</array>
		</array>
	</dict>
</array>
</plist>
